.card {
    width: 100%;
    max-width: 400px;
    border: 0.5em solid #ccc;
    border-radius: 1em;
    
}
.card__header {
    background-color: blueviolet;
    width: 100%;
    aspect-ratio: 2;
    position: relative;
    border-radius: 0.4em;
}
.card__img {
    position: absolute;
    width: 55%;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
}
.card__principal {
    margin-top: 3.5em;
}
.card__name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.2em;
}
.card__types {
    --gap-types: 0.7em;
    display: flex;
    justify-content: center;
    gap: var(--gap-types);
}
.card__type:not(:nth-child(1))::before {
    content: '/';
    padding-right: var(--gap-types);
}
.card__hr {
    --margin-y: 0.8em;
    margin-top: var(--margin-y);
    margin-bottom: var(--margin-y);
    border-top: 1px solid #ccc5;
    margin-inline: 2em;
}
.card__stats {
    padding: 1em 1em 2em;
}
.card__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.5em;
}
.card__stat {
    display: flex;
    flex-direction: column;
     gap: 0.3em;
    align-items: center;
}
.card__stat__label {
    font-size: 0.7rem;
    text-transform: uppercase;
}
.card__stat__value {
font-size: 1.4rem;
font-weight: 300;
}
.bg-grass {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
    ;
}
.bg-fire {
     background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}
.bg-water {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}

.color-electric {
    color: rgb(216, 210, 35);
}
.color-water {
    color: rgb(30, 12, 170);
}
.color-fire {
    color: rgb(217, 93, 16);
}
.color-grass {
    color: rgb(0, 128, 0);
}
.border-grass {
    border-color:  rgb(0, 128, 0);
}
.border-fire {
    border-color: rgb(217, 93, 16); 
}
.border-water {
    border-color: rgb(30, 12, 170); 
}
.border-electric {
    border-color: rgb(216, 210, 35); 
}